<div class="main-content">
  <form #theme="ngForm" [formGroup]="themeForm">
    <h3>Nouveau Thème</h3>

    <p>
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput
               formControlName="name"/>
        <mat-icon matSuffix>password</mat-icon>
        <mat-error *ngIf="themeForm.get('name').invalid &&
                        (themeForm.get('name').dirty || themeForm.get('name').touched)">
          <span *ngIf="themeForm.get('name').hasError('required')">Ce nom n'est pas correct</span>
        </mat-error>
      </mat-form-field>
    </p>

    <button mat-button class="button" [disabled]="!themeForm.valid" (click)="OnSubmit()" type="button">Login</button>

    <button mat-button class="button" (click)="dialogRef.close()">Annuler</button>

  </form>
</div>
