.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titrenewchap {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  transition: 2s;
}

.titrenewchap:hover {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 2px;
  transition: 2s;
}


mat-form-field {
  width: 95%;
  margin: auto;

}

.editor {
  width: 95%;
  margin: auto;
}

.formnewchap {
  text-align: center;
  width: 90%;
  color: black;
  opacity: 0.9;
  border-radius: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 0;
  display: block;
  position: relative;
}

.formnewchap:after {
  content: "";
  border-radius: 50px;
  background: url("src/assets/images/ccc.bmp");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

