<div class="main-content">
  <h2 class="titre">Histoires en cours d'écriture</h2>


  <div class="my-stories">
    <div class="flex">
      <a *ngFor="let s of stories" class="stories" [routerLink]="['/creation/story', {id: s.id}]">{{s.title}}</a>
    </div>
  </div>

  <a class="new stories" [routerLink]="'./new-story'">Nouvelle histoire</a>




</div>
