<div class="categories">
  <div id="landing-area">
    <div id="left">
      <div class="titlecategories">
        Les catégories
      </div>

      <div class="button">
        <button *ngFor="let t of themes" class="btn">{{ t.name}}</button>
     <!--   <button type="button" class="btn-image white-text" mdbBtn mdbWavesEffect>Horreur</button>
        <button type="button" class="btn-image white-text" mdbBtn mdbWavesEffect>Sci-fi</button>
        <button type="button" class="btn-image white-text" mdbBtn mdbWavesEffect>Series tv</button>
        <button type="button" class="btn-image white-text" mdbBtn mdbWavesEffect>Films</button> -->
      </div>

    </div>
    <div id="right">
      <div class="titleidea">Déjà une idée ?</div>

      <mat-form-field floatLabel="never">
        <input matInput placeholder="Recherche">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

    </div>
  </div>
</div>
