.titlecategories {
  padding-top: 50px;
  font-size: 21px;
  text-align: center;
  letter-spacing: 1px;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  color: white;
}

.categories {
  margin: 0;
  width: 100%;
}



.btn {
  font-family: Arial;
  font-size: 14px;
  background: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.47);
  display: inline-block;
  text-decoration: none;
  color: #0D324D;
  border-radius: 10px;
  border: #0D324D;
  width: 40%;
  padding: 10px 20px;
  margin: 20px;
  letter-spacing: 2px;
}

#landing-area {
  height: 100vh;
  display: flex;
  background-color: #dedede;
}

#left {
  width: 80%;
  clip-path: polygon(0 0, calc(100% - 10vh) 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, calc(100% - 10vh) 0, 100% 100%, 0 100%);
  margin-right: -4.2vh;
  padding: 5px 11vh 5px 5px;
  background-color: #0D324D;
  text-align: center;
}

#right {
  width: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 10vh) 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 10vh) 100%);
  margin-left: -4.2vh;
  padding: 5px 5px 5px 11vh;
  background-image: url("src/assets/images/ccc.bmp");
  text-align: center;
  opacity: 0.6;
}

.titleidea {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  padding-top: 50px;
}

.btn-image {
  width: 110px;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(#91b8ad, white);
  border: 0px;
  font-family: Arial;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding-top: 50px;;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
