<div class="main-content">
  <form #loginForm="ngForm" [formGroup]="accountForm" class="formins">
    <h2 class="titreins">{{title}}</h2>
    <p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email"
               type="email"/>
        <mat-icon matSuffix>drafts</mat-icon>
        <mat-error *ngIf="accountForm.get('email').invalid &&
                        (accountForm.get('email').dirty || accountForm.get('email').touched)">
          <span *ngIf="accountForm.get('email').hasError('required')">Prouve nous que tu es unique, et entre ton email</span>
          <span *ngIf="accountForm.get('email').hasError('email')">Oups, ton adresse email à l'air invalide ! 🤔</span>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <mat-icon matSuffix>face</mat-icon>
        <input matInput id="name" type="text" formControlName="name">
        <mat-hint>Pour être reconnu·e, tu peux entrer ton nom ici, mais seulement si tu le souhaites !
        </mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Pseudo</mat-label>
        <mat-icon matSuffix>perm_identity</mat-icon>
        <input matInput id="pseudo" type="text" formControlName="login">
        <mat-hint>Ton pseudo servira aux autres utilisateur·trice·s à te reconnaître dans l'espace
          commentaire, ou en tant qu'auteur·trice
        </mat-hint>
        <mat-error *ngIf="accountForm.get('login').invalid &&
                        (accountForm.get('login').dirty || accountForm.get('login').touched) &&
                         (accountForm.get('login').hasError('minlength') || accountForm.get('login').hasError('required'))"
        >Ne reste pas dans l'anonymat et entre un pseudo qui déchire 😎
        </mat-error>
      </mat-form-field>
    </p>


    <ng-container *ngIf="!isUpdate">
      <p>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <mat-icon matSuffix>password</mat-icon>
          <input matInput id="password" type="password" formControlName="password">
          <mat-hint>Plus de 8 caractères, et au moins un chiffre, une majuscule, une minuscule, et un caractère
            spécial
          </mat-hint>
          <mat-error *ngIf="accountForm.get('password').invalid &&
      (accountForm.get('password').dirty || accountForm.get('password').touched)">
            <span *ngIf="accountForm.get('password').hasError('required')">Eh, tu as oublié ton mot de passe ! 😒</span>
            <span
              *ngIf="accountForm.get('password').hasError('minLength') || accountForm.get('password').hasError('pattern')">
          Un mot de passe complexe est requis  😒
        </span>
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <mat-icon matSuffix>password</mat-icon>
          <input matInput id="password-bis" type="password" formControlName="password_validation">
          <mat-hint class="form-error">Entre de nouveau ton mot de passe, pour éviter les erreurs</mat-hint>
          <mat-error *ngIf="accountForm.get('password_validation').invalid &&
                      (accountForm.get('password_validation').dirty || accountForm.get('password_validation').touched)
                       && accountForm.hasError('notSame')">
            Attention, ce champs ne semble pas correspondre au mot de passe entré précédemment
          </mat-error>
        </mat-form-field>
      </p>
    </ng-container>


    <button mat-button class="button" [disabled]="!loginForm.valid" (click)="OnSubmit()" type="button">Login</button>
    <br><br>
    <a class="a" [routerLink]="['/login']">Déjà un compte ? Se connecter </a>

  </form>
</div>

