<app-banner [isConnected]="isConnected()"></app-banner>

<div class="main-content">

  <!--
    <app-stories-grid [stories]="getNew()"></app-stories-grid>
  -->
  <!--  <app-stories-grid [stories]="getAll()"></app-stories-grid>-->

  <div class="background">

    <h2 class="lecture">Nouveautés</h2>

    <!--
      <app-stories-grid [stories]="getNew()"></app-stories-grid>

      <h2>Suggestions</h2>
      <app-stories-grid [stories]="getAll()"></app-stories-grid>

      <h2>Choisir par thème</h2>

      <div>
        <div *ngFor="let theme of themes">{{ theme.title}}</div>
      </div>
    -->

    <!--    Thais example test-->
    <!--    <p>For test</p>-->
    <!--    <p *ngFor="let s of stories">-->
    <!--      <a [routerLink]="['/story', {id: s.id}]">{{s.title}}</a>-->
    <!--    </p>-->

    <div class="cards">

      <div id="banner" *ngFor="let s of stories">
        <div id="banner-text">
          <h3 class="cardtexttitle"> {{ s.title }} </h3>
          <p class="cardtext">Auteur·trice : {{ s.user.login }} {{ s.user.name}}</p>
          <p id="banner-btn" class="flex">
            <a [routerLink]="['/story', {id: s.id}]" class="link-btn">Lire</a>
          </p>
        </div>
      </div>

    </div>

  </div>
</div>

<app-categories></app-categories>
