#banner {
  height: calc(50vh - 50px);
  text-align: center;
  width: 65%;
}

#banner-text {
  color: #332E3B;
  width: 90%;
  margin: auto;
  font-size: 1.3em;
  background-color: rgba(152, 215, 207, 0.3);
  box-shadow: 2px 2px 10px rgba(219, 219, 219, 0.47);
  border-radius: 10px;
  padding: 15px 30px;
}

#banner .link-btn:link, #banner .link-btn:visited {
  font-family: Arial;
  font-size: 14px;
  background: #0D324D;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.47);
  display: inline-block;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  width: 40%;
  padding: 10px 20px;
  margin: 20px;
  letter-spacing: 2px;
}

#banner img {
  display: none;
}

@media screen and (min-width: 850px) {
  #banner-text {
    width: 50%;
    max-width: 600px;
    padding: 30px 50px;
    background-color: white;
    color: #0D324D;
    box-shadow: 1px 1px 10px #0d324d44;
    opacity: 0.9;
  }
}

.cards {
  display: flex;
  height: 400pt;
  width: 100%;
}

.lecture {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  letter-spacing: 1px;
  font-family: var(--secondary-font);
  text-transform: uppercase;
}

.cardtexttitle {
  font-family: var(--secondary-font);
  color: #aa5041;
}

.cardtext {
  font-family: Arial;
  font-size: 14px;
  text-align: center;

}

.background {
  margin: 0;
}

.list {
  display: flex;
}
