.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("src/assets/images/ccc.bmp");
  min-height: calc(100vh - 180px);
  width: 100%;
  border-radius: 50px;
}

.titresto {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  transition: 2s;
}

.titresto:hover {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 2px;
  transition: 2s;
}

.chapterform {
  text-align: left;
  width: 65%;
  color: black;
  background-color: white;
  border-radius: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  min-height: 90%;
}

.chapterchoice {
  font-family: var(--secondary-font);
  display: flex;
  align-items: center;
  font-size: large;
  text-decoration: none;
  color: black;
}

.chapterheader {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.titrechap {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  transition: 2s;
}

.titrechap:hover {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 2px;
  transition: 2s;
}

.chapterblock {
  font-family: var(--main-font);
  text-align: center;
  min-height: 90%;
  margin: auto;
  width: 70%;
}

.titreend {
  font-family: var(--secondary-font);
  text-align: center;
  padding-top: 10px;
  transition: 2s;
}

.chapterfooter {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
