.titre {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  transition: 2s;
  color: #0D324D;

}

.titre:hover {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 2px;
  transition: 2s;
}

.form {
  text-align: center;
  width: 90%;
  color: black;
  opacity: 0.99;
  border-radius: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 20px 0;
  display: block;
  position: relative;
}

.form::after {
  content: "";
  border-radius: 50px;
  background: url("src/assets/images/ccc.bmp");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: black;
  text-align: center;
}

.mat-form-field {
  width: 90%;
  margin: 5px auto;
  color: #0D324D;
}


.button {
  background-color: #c9c9c9;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

@media screen and (min-width: 850px) {
  .formins {
    width: 45%;
    max-width: 650px;
  }
}
