<div class="main-content">


  <form class="form" [formGroup]="storyForm">
    <h2 class="titre">Nouvelle histoire</h2>

    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title">
        <mat-hint>Entrez un titre qui tabasse</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Thème</mat-label>
        <mat-select required formControlName="theme">
          <mat-option *ngFor="let t of themes" [value]="t.id">
            {{t.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p *ngIf="story.status !== 'locked'">
      <mat-form-field>
        <mat-label>Rendre Publique ?</mat-label>
        <mat-select required formControlName="status">
          <mat-option *ngFor="let s of status" [value]="s.value">
            {{s.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <button mat-button (click)="save()">Let's go !</button>
  </form>

</div>
