#banner {
  height: calc(100vh - 180px);
  text-align: center;
  width: 100%;
  background-image: url("src/assets/images/banner-glasses.png");
  background-size: cover;
  background-position: 100%, 50%;
  background-repeat: no-repeat;
  padding-top: 100px;
  color: white;
}

#banner-text {
  color: #332E3B;
  width: 90%;
  margin: auto;
  font-size: 1.3em;
  background-color: rgba(152, 215, 207, 0.3);
  box-shadow: 2px 2px 10px #28968d77;
  border-radius: 10px;
  padding: 15px 30px;
  font-family: var(--secondary-font);
  font-size: 18px;
}

#banner .link-btn:link, #banner .link-btn:visited {
  font-family: Arial;
  background: #0D324D;
  display: inline-block;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  width: 100%;
  padding: 5px 0;
  margin: 5px 0;
  opacity: 0.7;
}

.banner-btn {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

#banner img {
  display: none
}


@media screen and (min-width: 850px) {
  :root {
    --global-width: 80%
  }

  .lg-text {
    display: inline-block !important;
  }


  #nav.scrolled .title-container {
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  #links-container {
    width: 50%
  }

  #nav.scrolled #list-container {
    width: 60%
  }

  #logo-containerBis .title-container {
    display: block
  }

}

@media screen and (min-width: 850px) {

  #banner .link-btn:link, #banner .link-btn:visited {
    width: 45%;
  }

  .banner-btn {
    flex-flow: row;
  }

  #banner-text {
    width: 50%;
    max-width: 600px;
    padding: 30px 50px;
  }

}

.discover {
  font-family: Arial;
}

.create {
  font-family: Arial;
}
