<div id="banner">
  <div id="banner-text">
    <h3>Découvrez une nouvelle manière de lire</h3>
    <p>Créez sans limite, devenez maître·esse de votre aventure</p>
    <p *ngIf="isConnected, else connection" class="banner-btn flex">
      <a href="#" class="link-btn">Lire</a>
      <a routerLink="creation" class="link-btn">Ecrire</a>
    </p>
    <ng-template #connection>
      <p class="banner-btn flex">
        <a routerLink="login" class="link-btn">Connexion</a>
        <a routerLink="login/inscription" class="link-btn">Inscription</a>
      </p>
    </ng-template>


  </div>
</div>
