<div class="main-content">
  <div class="storyform">
    <div class="storyheader">
      <a class="a-link" [routerLink]="['/reading']">
        <mat-icon>arrow_back</mat-icon>
        Retour à la liste des histoires</a>
    </div>
    <h2 class="titresto"> {{ story.title }} </h2>

    <div class="chapterlist">
      <p *ngFor="let c of chapters">
        <a class="stories" [routerLink]="['/chapter', {chapter: c.order, id: story.id}]">{{c.chapter_name}}</a>
      </p>
    </div>
  </div>
</div>
