.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.storyform {
  text-align: center;
  width: 90%;
  color: black;
  background-color: white;
  opacity: 0.9;
  border-radius: 50px;
  background-image: url("src/assets/images/ccc.bmp");
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 20px 0;
}

.storyheader {
  display: flex;
  margin-left: 25px;
}

.a-link {
  font-family: var(--secondary-font);
  display: flex;
  align-items: center;
  font-size: large;
  text-decoration: none;
  color: black;
}

.titresto {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  transition: 2s;
}

.titresto:hover {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 2px;
  transition: 2s;
}

.chapterlist {
  display: flex;
  flex-direction: column;
}
.chaptertitle {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  color: black;
}

.stories {
  width: 70%;
  margin: auto;
  background-color: white;
  box-shadow: 1px 1px 3px #0D324D;
  border-radius: 20px;
  text-align: center;
  height: 5em;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stories:link, .stories:visited {
  color: #0D324D;
  text-decoration: none;
  font: var(--main-font);
  transition: 3s;
}

.stories:hover {
  letter-spacing: 0.7px;
  height: 6em;
  width: 105%
}
