.background {
  min-height: calc(100vh - 180px);
  background-image: url("src/assets/images/banner-glasses.png");
  background-size: cover;
  background-position: 100%, 50%;
  background-repeat: no-repeat;
}
