<div class="main-content">
  <h2>{{title}}</h2>

  <mat-table #table [dataSource]="data" >

    <ng-container *ngFor="let col of columns" [matColumnDef]="col.value">
      <mat-header-cell *matHeaderCellDef>{{col.name}}</mat-header-cell>
      <mat-cell *matCellDef="let data">
        {{col?.valueB !== null ? data[col.value][col.valueB] : data[col.value]}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="rowDef"></mat-header-row>
    <mat-row *matRowDef="let row; columns: rowDef;"></mat-row>

  </mat-table>

</div>
