<div id="nav" class="nav-transparent" [className]="isAdmin()? 'adminNav' : ''">
  <nav id="nav-flex" class="container flex">
    <div id="logo-containerBis" class="flex">
      <img class="logo" src="images/logo.png" alt="logo : une superbe pieuvre à moustache"/>
      <div class="title-container">
        <h2 class="title">Infinite Stories</h2>
      </div>
    </div>
    <div id="logo-container" class="flex">
      <h2 class="title">
        Infinite
        <img [routerLink]="(isAdmin()? 'admin' : '')" class="logo" src="assets/images/logo.png" alt="logo : une superbe pieuvre à moustache"/>
        Stories
      </h2>
      <p *ngIf="isAdmin(), else normal">Espace Administration</p>
      <ng-template #normal>
        <p class="subtitle">Borderless Imagination</p>
      </ng-template>
    </div>




    <div  id="list-container">
      <ul class="flex" id="links-container">
  <!------ ADMIN NavBAR ---------------------------------------------------------------->
        <ng-container *ngIf="isConnected() && isAdmin(), else normalUser">
          <li>
            <a routerLink="admin/stories">
              <span class="small-text material-icons">history_edu</span>
              <span class="lg-text">Stories</span>
            </a>
          </li>
          <li>
            <a routerLink="admin/themes">
              <span class="small-text material-icons">category</span>
              <span class="lg-text">Themes</span>
            </a>
          </li>
          <li>
            <a routerLink="admin/users">
              <span class="small-text material-icons">supervisor_account</span>
              <span class="lg-text">Users</span>
            </a>
          </li>
          <li>
            <a (click)="logout()" routerLink="">
              <span class="small-text material-icons">logout</span>
              <span class="lg-text">Logout</span>
            </a>
          </li>


        </ng-container>

 <!-------Regular Nav Bar --------------------------------------------------------------->
        <ng-template #normalUser>
          <li>
            <a routerLink="/">
              <span class="small-text material-icons">home</span>
              <span class="lg-text">Accueil</span>
            </a>
          </li>
      <!----- Not connected ---------------------------------------------->
          <ng-container *ngIf="!isConnected()">
            <li>
              <a routerLink="login">
                <span class="small-text material-icons">person</span>
                <span class="lg-text">Connexion</span>
              </a>
            </li>
            <li>
              <a routerLink="login/inscription">
                <span class="small-text material-icons">person</span>
                <span class="lg-text">Inscription</span>
              </a>
            </li>
          </ng-container>
        <!------ Only connected users -------------------------------------->
          <ng-container *ngIf="isConnected()">
            <li>
              <a routerLink="creation">
                <span class="small-text material-icons">history_edu</span>
                <span class="lg-text">Ecriture</span>
              </a>
            </li>
            <li>
              <a routerLink="profil">
                <span class="small-text material-icons">person</span>
                <span class="lg-text">Profil</span>
              </a>
            </li>
            <li>
              <a (click)="logout()" routerLink="">
                <span class="small-text material-icons">logout</span>
                <span class="lg-text">Déconnexion</span>
              </a>
            </li>
          </ng-container>
        </ng-template>


      </ul>

    </div>

  </nav>
</div>



<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script>
  $(function () {
    $(document).scroll(function () {
      const $nav = $("#nav");
      $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
    });
  });
</script>
