
#nav {
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 5px #828181;
  position: sticky;
  top: 0;
  transition: all 3s;
}

#nav a {
  transition: all 500ms ease 0s;
}

#nav a:link, #nav a:visited {
  color: teal;
  border-bottom: solid 1px;
  border-color: white;
  text-decoration: none;
  font-family: sans-serif;
  margin-left: 10px;
}

#nav a:hover {
  color: darkslategrey;
  border-color: darkslategrey;
}

.container {
  width: 80%;
  margin: auto;
}

h2 {
  color: teal;
  font-family: sans-serif;
  border-bottom: 1px solid;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
