/* Element to hide on small screen < 850px */
#nav.scrolled .lg-text {
  display: none;
}

#nav .material-icons {
  display: none;
}

#nav.scrolled .material-icons {
  display: inline-block;
}

#nav {
  position: sticky;
  top: 0;
  z-index: 2;
  /* background-color: rgba(152, 215, 207, 0.3);
   box-shadow: 2px 2px 10px #28968d77;  */
  padding: 15px 0;
  transition-property: background-color, color, height;
  transition-duration: 500ms;
  background-color: white;
  height: 180px;
}

#nav.adminNav {
  //background-color: #332E3B;
  background-color: #0D324D;
}

#nav.adminNav  a:link, #nav.adminNav nav a:visited {
  color: white;
}

#nav.adminNav #logo-container {
  color: white;
}

#logo-container {
  text-align: center;
}

.title {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  margin-top: 0;
}

.logo {
  height: 50px;
  margin-bottom: -10px;
}

/* logo-containerBis : only visible on scroll */
#logo-containerBis {
  display: none;
  /*width: 30%;*/
  height: 100%;
  justify-content: space-between;
}

#logo-containerBis .title-container {
  display: none;
}

#logo-containerBis .logo {
  height: 80%;
}

#logo-containerBis .title {
  margin: 0;
  /* color: white; */
}

#logo-containerBis .subtitle {
  font-family: var(--fantasy-font);
  margin: 0;
  /* color: #ffffff; */
}

#logo-containerBis ul li {
  margin-left: 20px;
}

#links-container {
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  height: 100%;
}


/* When nav is scrolled : */
#nav.scrolled {
  /* background-color: #332E3B
   color: white; */
  height: 60px;
  padding: 0;
}

#nav.scrolled #nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--global-width);
  margin: auto;
  height: 100%;
}

#nav.scrolled #logo-container {
  display: none
}

#nav.scrolled #logo-containerBis {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 0.6em;
}

#nav.scrolled #list-container {
  width: 70%
}

#nav.scrolled #links-container {
  margin: 0;
  width: 100%;
}

#nav.scrolled .logo {
  height: 80%
}


nav ul li {
  height: 100%;
  font-size: 1.2em;
}

nav .material-icons {
  margin-right: 5px
}

nav a:link, nav a:visited {
  height: 1.2em;
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--main-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

nav a:hover {
  border-bottom: solid 1px;
  color: var(--main-darker-color);
}

@media screen and (min-width: 1200px) {
  #nav #links-container {
    width: 50%
  }

  #nav.scrolled #list-container {
    width: 50%
  }

}

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap');
.subtitle {
  font-family: 'Alegreya', serif;
  font-size: 19px;
}
