.formco {
  text-align: center;
  width: 90%;
  color: black;
  opacity: 0.9;
  border-radius: 50px;
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 20px 0;
  display: block;
  position: relative;
}

.formco:after {
  content: "";
  border-radius: 50px;
  background: url("src/assets/images/ccc.bmp");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.titreco {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  transition: 2s;
}

.titreco:hover {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 2px;
  transition: 2s;
}

.a_link {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: black;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mat-form-field {
  width: 320px;
}

.background {
  background-image: url("src/assets/images/banner-small.png");
  background-size: 100%;
}

.button {
  background-color: #c9c9c9;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


@media screen and (min-width: 850px) {
  .formco {
    width: 30%;
    max-width: 650px;
  }
}
