  <div class="main-content">
    <form [formGroup]="userForm" novalidate class="formco">
      <h2 class="titreco">Connexion</h2>
      <p>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="votremail@mail.fr" formControlName="login" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint>Entre l'adresse email utilisée pour ton inscription</mat-hint>
          <mat-error *ngIf="userForm.get('login').invalid &&
                     (userForm.get('login').dirty || userForm.get('login').touched)">
            Oups, ton mail à l'air invalide ! 🤔
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Mot de passe</mat-label>
          <input type="password" matInput placeholder="secret-password" formControlName="password" required>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-hint><!--<a>Mot de passe oublié ?</a>--></mat-hint>
          <mat-error *ngIf="userForm.get('password').invalid &&
                        (userForm.get('password').dirty || userForm.get('password').touched)">
            Si tu n'entres pas ton mot de passe, on ne pourra le vérifier ! 😒
          </mat-error>
        </mat-form-field>
      </p>

      <!--
      <p>
        <mat-checkbox formControlName="remember">Se souvenir de mes identifiants</mat-checkbox>
      </p>
      -->
      <div class="button-container">
        <button mat-button [disabled]="userForm.pristine" class="button" type="submit" (click)="OnSubmit()">
          Login
        </button>
        <div class="link-container">
          <p>
            <a class="a_link" [routerLink]="['/login/inscription']">Pas encore de compte ? S'inscrire</a>
          </p>
          <p>
<!--            <a routerLink="/mentions-legales" class="a_link">Utilisation des données personnelles</a>-->
          </p>
        </div>
      </div>
    </form>

  </div>

