<app-admin-table *ngIf="loaded" [title]="'Utilisateur·trice·s'" [data]="users"></app-admin-table>

<div class="btn-container">
  <a class="btn" routerLink="/login/inscription">Nouvel·le utilisateur·trice</a>
</div>
