.btn-container {
  width: 80%;
  margin: 20px auto;
}

.btn:link, .btn:visited {
  background-color: #0D324D;
  color: white;
  border: #0D324D solid;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 2s;
  text-decoration: none;
}

.btn:hover {
  letter-spacing: 1px;
  padding: 15px 25px;
  cursor: pointer;
}
