.main-content {
  width: 80%;
  margin: auto;
  background-color: white;
}

.titre {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  transition: 2s;
}

.titre:hover {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 2px;
  transition: 2s;
}

.flex {
  display: flex;
  flex-flow: wrap;
  align-items: center;
}

.stories {
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 3px #0D324D;
  border-radius: 20px;
  text-align: center;
  height: 5em;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stories:link, .stories:visited {
  color: #0D324D;
  text-decoration: none;
  font: var(--main-font);
  transition: 3s;
}

.stories:hover {
  letter-spacing: 0.7px;
  height: 6em;
  width: 105%
}

.new:link, .new:visited {
  background-color: #0D324D;
  color: white;
}

@media all and (min-width: 850px){
  .main-content {
    width: 70%;
    max-width: 850px;
  }

}
