<div class="main-content">
  <h2 class="titre">{{story.title}}</h2>

  <div >
    <a *ngFor="let c of chapters" class="stories" [routerLink]="['/creation/new-chapter', {chapter: c.id, id: story.id}]">{{c.order}}. {{c.chapter_name}}</a>
  </div>

  <a class="new stories" [routerLink]="['/creation/new-chapter', {id: story.id}]">Nouveau chapitre</a>

</div>
