@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Indie+Flower&family=Lato:wght@300&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*
font-family: 'Comfortaa', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Lato', sans-serif;
 */

:root {
  --fantasy-font: 'Indie Flower', cursive;
  --main-font: 'Lato', sans-serif;
  --secondary-font: 'Comfortaa', cursive;
  --main-color: #2FB1A6;
  --main-lighter-color: #36ccbf;
  --main-darker-color: #28968d;
  --global-width: 95%;
}

* {
  box-sizing: border-box
}

.main-content {
  width: var(--global-width);
  margin: 0;
}

html, body {
  height: 100%;
  scrollbar-width: thin;}

body {
  margin: 0;
}
